@font-face {
  font-family: 'ea-n';
  font-weight: 400;
  font-stretch: 100%;
  src: url('./../../../../assets/fonts/s-n.woff2') format('woff2');
}

@font-face {
  font-family: 'ea-sb';
  font-weight: 500;
  font-stretch: 100%;
  src: url('./../../../../assets/fonts/s-sb.woff2') format('woff2');
}

/* body {
  font-family: var(--primary-font-n);
} */

.previewPDFPrint {
  position: absolute;
  left: -10000px;
}

.pdf-Div {
  padding-left: 0rem !important;
  padding-top: 0rem !important;
  /* border: 2px solid red; */
  /* position: sticky; */
  /* top: 1.5rem; */
  /* overflow: hidden; */
  /* font-family: 'Segoe UI' !important; */
  /* border: 1px solid var(--border-color); */
}

.chart-name {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  min-block-size: 10mm;
  padding-inline-start: 10px;
  /* font-weight: 700; */
  font-size: 14pt;
  /* padding-bottom: 10px; */
}

.chart-name .chart-date {
  color: #fff;
  font-size: 10pt;
  /* font-weight: 400; */
  text-align: end;
  float: inline-end;

  .label {
    color: #fff;
  }

  .value {
    color: var(--secondary-color);
  }
}

.chart-date,
.chart-name {
  padding-inline-end: 10px;
  padding-block-start: 5px;
  padding-block-end: 5px;
}

.label-container {
  align-items: end;
}

.birth-info-table {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
  background-color: #f5f5f5;

  .block-detail {
    padding: 0px 18px 0px 12px;
    border-right: 1px solid var(--border-color);
  }

  .block-detail:first-child {
    padding: 0px 18px 0px 8px;
    border-left: none;
  }

  .text-Value {
    padding-inline-end: 10px;
    font-size: 9.5pt;
    color: #000;
    text-wrap: nowrap;
  }

  .text-label {
    padding-inline-end: 10px;
    font-size: 9.5pt;
    /* font-weight: 500; */
    color: var(--primary-color);
    text-wrap: nowrap;
  }
}

.chart-title {
  font-family: var(--primary-font-sb);
  color: var(--primary-color);
  padding-block-end: 10px;
  text-align: center;
  font-size: 15pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ChartSVG-Div {
  .ChartSVG-Div-sub {
    display: flex;
    flex-direction: column;
  }
}

.planet-table {
  display: flex;
  flex-direction: column;
  /* padding: 0px 8px; */
}

.highlight-row {
  /* background-color: var(--secondary-color) !important; */
  background-color: #99e27b65 !important;
  color: var(--primary-color);
  /* font-weight: 600; */
  font-family: 'ea-sb' !important;

  .MuiDataGrid-cell {
    font-family: 'ea-sb' !important;
  }
}

.highlight-row:hover {
  background-color: var(--secondary-color) !important;
}

.rowheader {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* font-weight: 500; */
  font-size: 11pt;
  cursor: auto;
  border-radius: 0px !important;

  .planet-col-title-small {
    color: #fff;
    /* font-weight: 400; */
    font-size: 9pt;
  }
}

.planet-table {
  display: flex;
  /* justify-content: space-between; */

  gap: 12px;

  color: black;

  .MuiDataGrid-footerContainer {
    display: none;
  }

  /* .MuiDataGrid-columnHeaders {
    width: 100% !important;
  } */
}

.main-AstroVastuScript-Div {
  display: flex;
  flex-direction: column;
  /* padding: 12px 8px; */
  /* border-bottom: 1px solid var(--border-color); */
}

.main-RahuKetu-Div {
  padding-top: 20px;

  /* .rowheader {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: auto;
    border-radius: 0px !important;
  } */

  .columnSpacer {
    margin-right: 20px;
  }

  .rahuHeader {
    color: var(--primary-color);
    /* font-weight: 500; */
  }

  .valueData {
    display: flex;
    gap: 8px;

    .planetName {
      width: 70px;
      color: var(--primary-color);
      /* font-weight: 500; */
    }

    .sf {
      color: #000;
      /* font-weight: 500; */
    }
  }

  /* .RahuKetu-Div{
    display: flex;
  } */
}

.AstroVastuScript-Div {
  /* padding: 12px 8px;
  border-bottom: 1px solid var(--border-color); */
  display: flex;
  gap: 8px;
  overflow: auto;

  .house-main-Div {
    min-width: 915px;

    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */

    .house-Div {
      width: 100%;

      .house-header {
        display: flex;
        width: 100%;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 14px;
        /* font-weight: 500; */
        justify-content: space-between;
        align-items: center;
        padding-block: 4px;
        padding-inline-start: 10px;
        padding-inline-end: 10px;

        .house-title {
          color: #fff;
          display: flex;
          /* gap: 8px; */

          .house-title-number {
            inline-size: 18mm;
            display: inline-block;
            /* color: #fcd53f; */
            /* font-weight: 500; */
            color: var(--secondary-color);
          }

          .arrow {
            inline-size: 8mm;
            display: inline-block;
          }

          .house-title-desc {
            inline-size: 120mm;
            display: inline-block;
            /* font-weight: 400; */
          }
        }

        .house-title-nakshatra {
          display: flex;
          text-align: end;
          /* font-weight: 400; */
          gap: 8px;

          .house-title-energyfield {
            color: var(--secondary-color);
            /* font-weight: 600; */
          }
        }
      }

      .house-body {
        padding: 0px 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #000;
        border-bottom: 1px solid var(--border-color);

        .house-body-Div1 {
          padding: 8px;
          width: 25%;
          border-right: 1px solid var(--border-color);
          border-left: 1px solid var(--border-color);
          /* border-bottom: 1px solid var(--border-color); */

          .house-div-sub {
            padding-bottom: 12px;
          }

          .sub-div-rake {
            color: gray;
            display: flex;
            /* gap: 4px; */
            align-items: center;
            /* font-weight: 600; */

            div {
              inline-size: 8mm;
              display: flex;
            }

            .item-aspect-arrow {
              inline-size: 6mm;
            }
          }

          .sub-div1 {
            color: #1762ad;
            display: flex;
            /* font-weight: 600; */

            div {
              inline-size: 8mm;
              display: flex;
            }

            .item-aspect-arrow {
              inline-size: 6mm;
            }
          }

          .sub-div2 {
            color: #057143;
            display: flex;
            /* font-weight: 600; */

            div {
              inline-size: 8mm;
              display: flex;
            }

            .item-aspect-arrow {
              inline-size: 6mm;
            }
          }

          .sub-div3 {
            color: #cc1616;
            display: flex;
            /* font-weight: 600; */

            div {
              inline-size: 8mm;
              display: flex;
            }

            .item-aspect-arrow {
              inline-size: 6mm;
            }
          }
        }

        .house-body-Div2 {
          padding: 0px 0px;
          width: 75%;
          border-right: 1px solid var(--border-color);
          /* border-bottom: 1px solid var(--border-color); */
          display: flex;
          flex-direction: column;
          /* gap: 8px; */

          .rahi-Div {
            /* padding: 0px 8px; */
            display: flex;
            border-bottom: 1px solid var(--border-color);
            width: 100%;
            justify-content: space-between;

            .item-title {
              padding: 8px;
              width: 50%;
              padding-inline-start: 10px;
              padding-inline-end: 10px;
            }

            .rashi-Div1-sub1 {
              /* font-weight: 600; */
              font-size: 12pt;
              padding-block-start: 1px;
              padding-block-end: 1px;

              .rashiColor {
                color: var(--primary-color);
                padding-inline-start: 5px;
                padding-inline-end: 5px;
                /* font-weight: 400; */
              }
            }

            .rashi-Div1-sub2 {
              /* font-weight: 400; */
              font-size: 10pt;
              padding-block-start: 2px;
              color: grey;
            }

            .rashi-Div1-sub3 {
              /* font-weight: 400; */
              font-size: 10pt;
              padding-block-start: 2px;
              color: grey;
            }

            .rahi-Div2 {
              display: flex;
              flex-direction: column;
              border-left: 1px solid var(--border-color);
              width: 80%;
              /* border-right: 1px solid var(--border-color); */

              .planet-Div {
                width: 100%;
                /* display: flex; */
                border-bottom: 1px solid var(--border-color);
                display: flex;

                .planet-Div-sub {
                  width: 60%;
                  border-right: 1px solid var(--border-color);
                }

                .rahi-Div3 {
                  padding: 8px;
                  display: flex;
                  flex-direction: column;
                  width: 40%;

                  .rashi-div-sub {
                    padding-bottom: 12px;

                    .sub-div-rake {
                      color: gray;
                      display: flex;
                      align-items: center;
                      /* font-weight: 600; */

                      div {
                        inline-size: 8mm;
                        display: flex;
                      }

                      .item-aspect-arrow {
                        inline-size: 6mm;
                      }
                    }
                  }

                  .sub-div1 {
                    color: #1762ad;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
                    /* font-weight: 600; */

                    div {
                      inline-size: 8mm;
                      display: flex;
                    }

                    .item-aspect-arrow {
                      inline-size: 6mm;
                    }
                  }

                  .sub-div2 {
                    color: #057143;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
                    /* font-weight: 600; */

                    div {
                      inline-size: 8mm;
                      display: flex;
                    }

                    .item-aspect-arrow {
                      inline-size: 6mm;
                    }
                  }

                  .sub-div3 {
                    color: #cc1616;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
                    /* font-weight: 600; */

                    div {
                      inline-size: 8mm;
                      display: flex;
                    }
                  }
                }

                .planet-Div1 {
                  /* width: 100%;
                  padding: 8px;
                  border-bottom: 1px solid var(--border-color);
                  display: flex;
                  justify-content: space-between;
                  font-weight: 500; */

                  /* font-weight: 600; */
                  padding: 8px;
                  width: 100%;
                  padding-inline-start: 10px;
                  padding-inline-end: 10px;
                  display: flex;
                  justify-content: space-between;

                  .planet-Div1-sub {
                    display: flex;
                    gap: 4px;
                  }
                }

                .item-title-planet-bg-ketu {
                  background-color: #dfcccc;
                }

                .item-title-planet-bg-venus {
                  background-color: #f5d1e7;
                }

                .item-title-planet-bg-sun {
                  background-color: #fce2c9;
                }

                .item-title-planet-bg-moon {
                  background-color: #e0f1ff;
                }

                .item-title-planet-bg-mars {
                  background-color: #f2cdcd;
                }

                .item-title-planet-bg-rahu {
                  background-color: #d5d5d5;
                }

                .item-title-planet-bg-jupiter {
                  background-color: #faefc3;
                }

                .item-title-planet-bg-saturn {
                  background-color: #cdd4ee;
                }

                .item-title-planet-bg-mercury {
                  background-color: #c6e1d1;
                }

                .item-title-planet-bg-uranus {
                  background-color: #d3dbe2;
                }

                .item-title-planet-bg-neptune {
                  background-color: #dfebf7;
                }

                .item-title-planet-bg-pluto {
                  background-color: #e9dbd6;
                }

                .planet-Div2 {
                  width: 100%;
                  border-bottom: 1px solid var(--border-color);
                  justify-content: space-between;
                  display: flex;
                  padding: 5px 0px;

                  .sub-div {
                    width: 33.33%;
                    border-right: 1px solid var(--border-color);
                    display: flex;
                    flex-direction: column;
                    /* font-weight: 500; */
                    font-size: 11pt;
                    padding-inline-start: 10px;

                    .font-normal {
                      /* font-weight: 400; */
                    }
                  }

                  span:first-child {
                    /* font-weight: 500; */
                  }

                  .sub-div:last-child {
                    border-right: none;
                  }
                }

                .planet-Div3 {
                  /* padding: 8px;
                  display: flex;
                  flex-direction: column; */

                  padding-top: 8px;
                  /* font-weight: 400; */
                  font-size: 10pt;
                  padding-block-start: 2px;
                  color: grey;
                  padding-inline-start: 10px;
                  padding-inline-end: 10px;

                  .sub-div1 {
                    color: var(--primary-color);
                    /* font-weight: 500; */

                    font-size: 10pt;
                    padding-block-start: 2px;
                  }

                  .sub-div {
                    /* font-weight: 400; */
                    font-size: 10pt;
                    padding-block-start: 2px;
                    color: grey;
                  }
                }
              }

              .planet-Div:last-child {
                border-right: 0px solid black;
                border-bottom: 0px solid black;
              }
            }

            /* .rahi-Div2 {
            } */
          }

          .rahi-Div:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .previewCard * {
    visibility: visible;
  }

  .previewCard {
    width: 210px;
    color: #cc1616;
    /* inline-size: 100vw;
    block-size: 100vw;
    position: fixed;
    inset: 0;
    box-sizing: border-box; */
  }

  /* .Birthdetail-div {

    background-color: #cc1616;

  } */

  /* color: inherit;  */

  /* #__next :is(.sm\:\!p-12) {
    padding: 0rem !important;
  } */
  [data-mui-color-scheme='dark'] {
    --mui-palette-text-primary: rgba(47, 43, 61, 0.9);
    --mui-palette-action-hover: rgba(47, 43, 61, 0.06);
    --mui-palette-text-secondary: rgba(47, 43, 61, 0.7);
    --mui-palette-divider: rgba(47, 43, 61, 0.12);
  }

  /* Only show the .preview-card element when printing */
  .previewCard * {
    visibility: visible;
  }

  /* .previewCard {
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
    inset: 0;
    box-sizing: border-box;
  } */

  @media (max-width: 600px) {
    .previewCard {
      position: relative !important;
    }
  }
}

/*
.rowheader {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: auto;
  border-radius: 0px !important;
} */

.Summary-Div {
  color: rebeccapurple;

  /* .rowheader {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: auto;
    border-radius: 0px !important;
  } */

  /* .mui-yrdy0g-MuiDataGrid-columnHeaderRow {
    background: var(--primary-soft-color) !important;
    color: white;

    .mui-t89xny-MuiDataGrid-columnHeaderTitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bolder;
    }
  } */

  .MuiDataGrid-cell {
    /* color: #cc1616; */
    .row-title {
      color: var(--primary-color);
      /* font-weight: 500; */
    }

    .summaryTxt {
      .neutral {
        color: #1762ad;
        /* font-weight: 500; */
      }

      .rake {
        display: flex;
        gap: 2px;
        align-items: center;
        justify-content: center;
        color: gray;
        /* font-weight: 500; */
      }

      .positive {
        color: #057143;
        /* font-weight: 500; */
      }

      .negative {
        color: #cc1616;
        /* font-weight: 500; */
      }
    }
  }
}

.timeTool-div {
  position: fixed;
  bottom: 0px;
  padding: 4px 12px 12px;
  border-radius: 4px;
  z-index: 1111;
}

.Loard-Div {
  /* border: 2px solid red;
  overflow: hidden; */
  .valueHeader {
    display: flex;
    /* justify-content: space-between; */
    color: #fff;
    /* min-width: 230px; */
  }
}

.nl-column-cell {
  background-color: #daffaf45; /* Choose your preferred background color */
}

.nlsl-column-cell {
  background-color: #d5d5d560; /* Choose your preferred background color */
}

.Nakshatra-Legend {
  .arrow-info {
    font-size: 10pt;
    display: flex;
    justify-content: space-between;
    color: grey;
  }
}

.item-aspect-arrow {
  inline-size: 6mm;
}

.arrow {
  inline-size: 8mm;
  display: inline-block;
}

.pl-ketu {
  color: #7d3434 !important;
}
.pl-venus {
  color: #d646a1 !important;
}
.pl-sun {
  color: #cd0008 !important;
}
.pl-moon {
  color: #0db1c7 !important;
}
.pl-mars {
  color: #e6151d !important;
}
.pl-rahu {
  color: #555555 !important;
}
.pl-jupiter {
  color: #f48d25 !important;
}
.pl-saturn {
  color: #3652ba !important;
}
.pl-mercury {
  color: #1c8946 !important;
}
.pl-uranus {
  color: #4e6f73 !important;
}
.pl-neptune {
  color: #6b8ac6 !important;
}
.pl-pluto {
  color: #a6705c !important;
}

/* ======================================= redesign mui datagrid ==================================== */

.MuiDataGrid-root {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  /* border: none !important; */
}

.MuiDataGrid-row:nth-of-type(odd) {
  background-color: #ffffff;
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: #f5f5f5;
}

.MuiDataGrid-row:hover {
  color: var(--primary-color) !important;
  background-color: var(--secondary-soft-color) !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-sortIcon {
  color: white;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-columnHeader--withRightBorder {
  border-right: 0px !important;
  border-right-width: 0px !important;
}

.MuiDataGrid-columnHeader {
  cursor: default !important;
  border: none !important;
}
.MuiDataGrid-columnHeader:focus {
  outline: none !important;
}
/* .MuiDataGrid-scrollbar--vertical {
  display: none;
}
.MuiDataGrid-filler {
  display: none;
}*/
.MuiDataGrid-scrollbarFiller--header {
  background-color: var(--primary-color);
  border-bottom: none !important;
}
.MuiDataGrid-row.Mui-selected {
  background-color: #99e27b65 !important;
}
/*
.MuiOutlinedInput-root{
  height: 2.7rem
} */

.MuiInputBase-input {
  font: unset;
  font-family: var(--primary-font-n);
}

.MuiFormLabel-root {
  font-family: var(--primary-font-n);
}

/* .MuiDialogActions-root{
  padding: 8px;
} */

/* .MuiDataGrid-scrollbar {
  display: none;
} */
/*
.MuiInputBase-root{
  height: 42px;
} */

/* .MuiSelect-select{
  height: auto !important;
}

.MuiInputLabel-root{
  height: auto !important;
} */

/* .MuiTextField-root{
  height: 42px;
} */

.MuiStack-root {
  overflow: hidden !important;
}

.MuiPickersLayout-root {
  .MuiDialogActions-root {
    display: none !important;
  }
}

.prakritiLabel {
  .MuiTypography-root {
    font-family: ea-n;
    font-weight: unset;
    font-size: 14px;
    line-height: unset;
  }

  .MuiCheckbox-root svg {
    font-size: 1rem;
  }
}


.MuiDivider-root{
  border: 1px solid var(--border-color) !important;
}

.RahuKetuGrid{
  .MuiDataGrid-cell {
    line-height: 30px !important;
  }
}


.eventGrid{
  .row5-style{
    .MuiDataGrid-cell {
      line-height: 30px !important;
    }
  }
  .row7-style{
    /* border: 1px solid red; */
    border-right: none !important;
  }
  .MuiDataGrid-filler{
    height: 0px !important;
    div{

      border-top: none !important;
    }
  }

  .MuiDataGrid-scrollbar{
    display: none;
  }

  div[data-field="col9"] {
    border-right: none !important;
  }

  div.MuiDataGrid-columnHeader[data-field="col9"] {
    border-right: var(--primary-color) !important;
  }
}
