.pdf-Div {
  padding-left: 0rem !important;
  padding-top: 0rem !important;
  font-family: 'Segoe UI' !important;
  /* border: 1px solid var(--border-color); */
}

.Birthdetail-div {
  background-color: var(--primary-color);
  /* border-radius: 4px; */
  font-weight: 500;

  .birthDateTime-Div {
    .label {
      color: #fff;
    }

    .value {
      color: var(--secondary-color);
    }
  }
}

.Name-title {
  /* border: 2px solid black; */
  font-weight: bold;
  font-size: 24px;
  color: var(--secondary-color);
}

.label-container {
  align-items: end;
}

.AstroDetails-Div {
  /* border: 2px solid black; */
  padding: 8px 8px;
  display: flex;
  /* justify-content: space-around; */
  border-bottom: 2px solid var(--border-color);
  overflow: auto;

  .block-detail {
    padding: 0px 18px 0px 12px;
    border-left: 2px solid var(--border-color);
  }
  .block-detail:first-child {
    padding: 0px 18px 0px 0px;
    border-left: none;
  }
}

.heading-div {
  text-align: center;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ChartSVG-Div {
  /* padding: 12px 8px;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  gap: 8px; */



  .ChartSVG-Div-sub {
    display: flex;
    flex-direction: column;
    /* width: 33.33%; */
  }
}

.main-MahaDasha-Div {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  border-bottom: 2px solid var(--border-color);

  /* .MuiDataGrid-container--top {
    background-color: var(--primary-soft-color) !important;
    color: white;
  } */
}

.MahaDasha-Div {
  display: flex;
  justify-content: space-between;

  gap: 12px;

  .rowheader {
    background-color: var(--primary-color);
    color: #fff;
  }

  color: black;

  .highlight-row {
    /* background-color: var(--primary-soft-color); */
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
  }

  .highlight-row:hover {
    background-color: var(--secondary-soft-color) !important;
  }

  /* .MuiDataGrid-row:hover {
    background-color: transparent !important;
  } */

  .MuiDataGrid-footerContainer {
    display: none;
  }

  /* .MuiDataGrid-columnHeaders {
    width: 100% !important;
  } */
}

.main-AstroVastuScript-Div {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  border-bottom: 2px solid var(--border-color);
}

.AstroVastuScript-Div {
  /* padding: 12px 8px;
  border-bottom: 2px solid var(--border-color); */
  display: flex;
  gap: 8px;
  overflow: auto;

  .house-main-Div {
    min-width: 915px;

    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */

    .house-Div {
      width: 100%;

      .house-header {
        border: 2px solid var(--border-color);
        padding: 12px 8px;
        background-color: var(--primary-soft-color);
        display: flex;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
        color: #fff;

        .house-header-Div1 {
          color: #fff;
          display: flex;
          gap: 8px;

          .house-header-text {
            font-weight: bolder;
            color: var(--secondary-color);
          }
        }

        .house-header-Div2 {
          display: flex;
          gap: 8px;

          .house-header-Div2-sub2 {
            color: var(--secondary-color);
          }
        }
      }

      .house-body {
        padding: 0px 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #000;
        border-bottom: 2px solid var(--border-color);

        .house-body-Div1 {
          padding: 8px;
          width: 25%;
          border-right: 2px solid var(--border-color);
          border-left: 2px solid var(--border-color);
          /* border-bottom: 2px solid var(--border-color); */

          .house-div-sub {
            padding-bottom: 12px;
          }

          .sub-div-rake {
            color: gray;
            display: flex;
            /* gap: 4px; */
            align-items: center;
            div {
              width: 35px;
              display: flex;
            }
          }

          .sub-div1 {
            color: blue;
            display: flex;
            font-weight: 500;
            div {
              width: 35px;
              display: flex;
            }
          }

          .sub-div2 {
            color: green;
            display: flex;
            font-weight: 500;
            div {
              width: 35px;
              display: flex;
            }
          }

          .sub-div3 {
            color: red;
            display: flex;
            font-weight: 500;
            div {
              width: 35px;
              display: flex;
            }
          }

        }

        .house-body-Div2 {
          padding: 0px 0px;
          width: 75%;
          border-right: 2px solid var(--border-color);
          /* border-bottom: 2px solid var(--border-color); */
          display: flex;
          flex-direction: column;
          /* gap: 8px; */

          .rahi-Div {
            /* padding: 0px 8px; */
            display: flex;
            border-bottom: 2px solid var(--border-color);
            width: 100%;
            justify-content: space-between;

            .rahi-Div1 {
              padding: 8px;
              width: 40%;

              .rashi-Div1-sub1 {
                font-weight: 600;

                .rashiColor {
                  color: var(--primary-color);
                }
              }

              .rashi-Div1-sub2 {
                color: #878383;
              }

              .rashi-Div1-sub3 {
                color: #878383;
                /* font-weight: 600; */
              }
            }

            .rahi-Div2 {
              display: flex;
              flex-direction: column;
              border-left: 2px solid var(--border-color);
              width: 80%;
              /* border-right: 2px solid var(--border-color); */

              .planet-Div {
                width: 100%;
                /* display: flex; */
                border-bottom: 2px solid var(--border-color);
                display: flex;

                .planet-Div-sub {
                  width: 60%;
                  border-right: 2px solid var(--border-color);
                }

                .rahi-Div3 {
                  padding: 8px;
                  display: flex;
                  flex-direction: column;
                  width: 40%;

                  .rashi-div-sub {
                    padding-bottom: 12px;

                    .sub-div-rake {
                      color: gray;
                      display: flex;
                      align-items: center;
                      div {
                        width: 35px;
                        display: flex;
                      }
                    }
                  }

                  .sub-div1 {
                    color: blue;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
            font-weight: 500;
            div {
                      width: 35px;
                      display: flex;
                    }
                  }

                  .sub-div2 {
                    color: green;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
            font-weight: 500;
            div {
                      width: 35px;
                      display: flex;
                    }
                  }

                  .sub-div3 {
                    color: red;
                    /* padding-bottom: 12px; */
                    display: flex;
                    align-items: center;
            font-weight: 500;
            div {
                      width: 35px;
                      display: flex;
                    }
                  }

                }

                .planet-Div1 {
                  width: 100%;
                  padding: 8px;
                  border-bottom: 2px solid var(--border-color);
                  display: flex;
                  justify-content: space-between;
                  font-weight: 500;

                  .planet-Div1-sub {
                    display: flex;
                    gap: 4px;
                  }
                }

                .planet-Div2 {
                  width: 100%;
                  border-bottom: 2px solid var(--border-color);
                  justify-content: space-between;
                  display: flex;

                  .sub-div {
                    padding: 8px;
                    width: 33.33%;
                    border-right: 2px solid var(--border-color);
                    display: flex;
                    flex-direction: column;
                  }
                  span:first-child{
                    font-weight: 500;
                  }
                  .sub-div:last-child {
                    border-right: none;
                  }
                }

                .planet-Div3 {
                  padding: 8px;
                  display: flex;
                  flex-direction: column;

                  .sub-div1 {
                    color: var(--primary-color);
                    font-weight: 500;
                  }
                  .sub-div {
                    color:#878383;
                  }
                }
              }

              .planet-Div:last-child {
                border-right: 0px solid black;
                border-bottom: 0px solid black;
              }
            }

            /* .rahi-Div2 {
            } */


          }

          .rahi-Div:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .previewCard * {
    visibility: visible;
  }

  .previewCard {
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
    inset: 0;
    box-sizing: border-box;
  }

  /* .Birthdetail-div {

    background-color: red;

  } */

  /* color: inherit;  */

  /* #__next :is(.sm\:\!p-12) {
    padding: 0rem !important;
  } */
  [data-mui-color-scheme='dark'] {
    --mui-palette-text-primary: rgba(47, 43, 61, 0.9);
    --mui-palette-action-hover: rgba(47, 43, 61, 0.06);
    --mui-palette-text-secondary: rgba(47, 43, 61, 0.7);
    --mui-palette-divider: rgba(47, 43, 61, 0.12);
  }

  /* Only show the .preview-card element when printing */
  .previewCard * {
    visibility: visible;
  }

  .previewCard {
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
    inset: 0;
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    .previewCard {
      position: relative !important;
    }
  }
}


.Summary-Div {
  color: rebeccapurple;

  .rowheader {
    background-color: var(--primary-color);
    color: #fff;
  }

  /* .mui-yrdy0g-MuiDataGrid-columnHeaderRow {
    background: var(--primary-soft-color) !important;
    color: white;

    .mui-t89xny-MuiDataGrid-columnHeaderTitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bolder;
    }
  } */

  .MuiDataGrid-cell {

    /* color: red; */
    .row-title{
      color: var(--primary-color);
    }
    .summaryTxt {

      .neutral {
        color: blue;
        font-weight: 700;
      }

      .rake {
        display: flex;
        gap: 2px;
        align-items: center;
        justify-content: center;
        color: gray;
        font-weight: 700;
      }

      .positive {
        color: green;
        font-weight: 700;
      }

      .negative {
        color: red;
        font-weight: 700;
      }
    }
  }

}


.previewPDF {
  padding: 0rem 1.25rem;
}

.timeTool-div{
  /* sx={{
    position: 'fixed',
    bottom: '110px',
    right: '90px',
    width: '250px',
    height: 'auto',
    backgroundColor: 'white',
    padding: '16px',
    borderRadius: '8px',
    boxShadow: 3,
    // zIndex: 9999
  }} */
   position: fixed;
   bottom: 110px;
   right: 90px;
   width: 250px;
   height: auto;
   background-color: #fff;
   padding: 16px;
   border-radius: 4px;
   box-shadow: 3;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
