/* .pl-ketu {
  color: #7d3434;
}
.pl-venus {
  color: #d646a1;
}
.pl-sun {
  color: #f48d25;
}
.pl-moon {
  color: #0dc6df;
}
.pl-mars {
  color: #c93838;
}
.pl-rahu {
  color: #555555;
}
.pl-jupiter {
  color: #ebbf10;
}
.pl-saturn {
  color: #3652ba;
}
.pl-mercury {
  color: #1c8946;
}
.pl-uranus {
  color: #4e6f73;
}
.pl-neptune {
  color: #6b8ac6;
}
.pl-pluto {
  color: #a6705c;
} */
