/* HTML: <div class="ealoader"></div>
.ealoader-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #34445050;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ealoader {

  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--primary-color);
  animation: l15 1s infinite linear;
}

.ealoader::before,
.ealoader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.ealoader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
} */


.ealoader-main {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ealoader {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  animation: colorChange 1.5s ease-in-out infinite ;
}

@keyframes colorChange {
  0%, 100% {
    fill: gray; /* Start and end color */
    /* width: 80px; */
  }
  50% {
    fill: #590A73; /* Original purple color */
    /* width: 100px; */
  }
}

.ealoader path {
  animation: colorChange 1s infinite;
}
