@media print {
  body {
    margin: 0;
    padding: 20px;
    background-color: white;
    color: black;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .page-break {
    page-break-after: always;
    break-after: page;
  }

  .new-page:last-of-type {
    page-break-after: avoid;
    break-after: avoid;
  }
  .main-print-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .hidden-print {
    position: static; /* Restore to default position during print */
    left: auto;
    width: 30%;
  }
}

#hiddenDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: none;
}

.card-content {
  flex-grow: 1;
}

.design-card {
  /* width: 300px; Reduced width to better match the 30% proportion */
  /* padding: 0px 20px; */
  background: white;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}
