.grid-tabs{
  /* border: 1px solid red; */
  .Mui-selected{
    background-color: var(--secondary-soft-color);
  }
}

.MuiFormLabel-root {
  font-family: var(--primary-font-n) !important;
  font-size: 0.9375rem !important;
}