.plDiv{
  display: flex;
}
.planetN{
  color: var(--primary-color);
  font-weight: 700;
  width: 40px;
}

.rashiMainDiv{
  display: flex;
  justify-content: space-between;
  padding-right: 4px;
}

.rashiDiv{
  color: var(--primary-color);
  font-weight: 700;
}
.signDiv{
  color: var(--primary-color);
  font-weight: 500;
}

.degreeDiv{
  color: black;
  font-family:  'Segoe UI';
  font-weight: 500;
}

.NMainDiv{
  display: flex;
  justify-content: space-between;
}
